.header {
  margin-top: 2rem;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.table-actions button {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
