.item-list {
  background: white;
  color: #333;
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  vertical-align: top;
  width: 300px;
  & h4 {
    border-bottom: 1px solid gray(125);
    padding-bottom: 10px;
  }
  & ul {
    padding-left: 20px;
  }
}
